<nb-card>
  <nb-card-header>
    <h4>Zu den Unterschiedlichen Schulen</h4>
  </nb-card-header>
  <nb-card-body>
    Unter dieser Rubrik sind nicht nur unsere eigenen Schulen aufgelistet sondern auch Partnerschulen, die wir mit gutem
    Gewissen weiter empfehlen können.
  </nb-card-body>
  <nb-card-footer>
    Es ist ebenfalls möglich Kostenlos in allen Schulen zu Trainieren solange man in einer angemeldet ist.
  </nb-card-footer>
</nb-card>
<nb-accordion accent="info" >
  <nb-accordion-item>
    <nb-accordion-item-header>
      Alle Studenten
    </nb-accordion-item-header>
    <nb-accordion-item-body *ngFor="let student of studentArray">
      <nb-card>
        <nb-card-header> {{student.student_name + " " + student.student_lastName }}</nb-card-header>
        <nb-card-body>
          {{student.student_age}} <br>
          {{student.student_lvl}} <br>
          {{student.student_mail}} <br>
          {{student.student_telNumber}}<br>
        </nb-card-body>
      </nb-card>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
