<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>
      <nb-icon class="iconInHead" icon="globe-2-outline" style="margin-right: 5px"></nb-icon>
      <h6> Schulen</h6>
    </nb-accordion-item-header>
    <nb-accordion-item-body routerLink="/school">
      <nb-icon icon="globe-2-outline" style="margin-right: 5px"></nb-icon>
      Alle Schulen
    </nb-accordion-item-body>
    <nb-accordion-item-body>
      <a href="https://vt-leonberg.de/" style="color: white; text-decoration-line: none"> Leonberg </a>
    </nb-accordion-item-body>
    <nb-accordion-item-body *ngFor="let school of schoolArray" [routerLink]="['/school' ,school.school_id]">
      {{school.school_name}}
      <button  nbButton  hero status="danger"  outline size="small" (click)="deleteSchool(school.school_id.toString())">
        <nb-icon calss="iconInHead" icon="minus-square-outline"></nb-icon>
      </button>
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>
      <nb-icon class="iconInHead" icon="people-outline" style="margin-right: 5px"></nb-icon>
      <h6>Trainer</h6>
    </nb-accordion-item-header>
    <nb-accordion-item-body routerLink="/teacher">
      <nb-icon icon="people-outline" style="margin-right: 5px"></nb-icon>
      Alle Trainer
    </nb-accordion-item-body>
    <nb-accordion-item-body *ngFor="let teacher of teacherArray" [routerLink]="['/teacher', teacher.teacher_id]">
      <nb-icon icon="smiling-face-outline" style="margin-right: 5px"></nb-icon>
      {{teacher.teacher_name}}
      <button  nbButton  hero status="danger"  outline size="small" (click)="deleteTeacher(teacher.teacher_id.toString())">
        <nb-icon calss="iconInHead" icon="minus-square-outline"></nb-icon>
      </button>
    </nb-accordion-item-body>

  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>
      <nb-icon class="iconInHead" icon="activity-outline" style="margin-right: 5px"></nb-icon>
      <h6>Ving-Tsun</h6>
    </nb-accordion-item-header>
    <nb-accordion-item-body routerLink="/ving-tsun">
      <nb-icon icon="shield-outline" style="margin-right: 5px"></nb-icon>
      Ving-Tsun Generell
    </nb-accordion-item-body>
    <nb-accordion-item-body routerLink="/ving-tsun/yip-man">
      Yip Man
    </nb-accordion-item-body>
    <nb-accordion-item-body routerLink="/ving-tsun/wong-shun-leugn">
      Wong Shun Leungn
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>
      <nb-icon class="iconInHead" icon="info-outline" style="margin-right: 5px"></nb-icon>
      <h6>Infos</h6>
    </nb-accordion-item-header>
    <nb-accordion-item-body routerLink="/info">
      <nb-icon icon="info-outline" style="margin-right: 5px"></nb-icon>
      Allgemine Infos
    </nb-accordion-item-body>
    <nb-accordion-item-body routerLink="/info/trainingszeiten">
      <nb-icon icon="clock-outline" style="margin-right: 5px"></nb-icon>
      Trainingszeiten
    </nb-accordion-item-body>
    <nb-accordion-item-body routerLink="info/kosten">
      <nb-icon icon="shopping-cart-outline" style="margin-right: 5px"></nb-icon>
      Kosten
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>
      <nb-icon class="iconInHead" icon="archive-outline" style="margin-right: 5px;"></nb-icon>
      <h6>Archiv </h6>
    </nb-accordion-item-header>

    <nb-accordion-item-body>
      <nb-icon icon="image-outline" style="margin-right: 5px"></nb-icon>
      Bilder
    </nb-accordion-item-body>
    <nb-accordion-item-body>
      <nb-icon icon="film-outline" style="margin-right: 5px"></nb-icon>
      Videos
    </nb-accordion-item-body>
  </nb-accordion-item>

</nb-accordion>
