<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>Schulen</nb-accordion-item-header>
    <nb-accordion-item-body>
      Alle Schulen
    </nb-accordion-item-body>
    <nb-accordion-item-body>
      Schule eins
    </nb-accordion-item-body>
    <nb-accordion-item-body>
      Schulen zwei
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>Trainer</nb-accordion-item-header>
    <nb-accordion-item-body>
      Alle Trainer
    </nb-accordion-item-body>
    <nb-accordion-item-body>
      TRainer 1
    </nb-accordion-item-body>
    <nb-accordion-item-body>
      Trainer 2
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>Ving-Tsun</nb-accordion-item-header>
    <nb-accordion-item-body>
      Yip Man
    </nb-accordion-item-body>
    <nb-accordion-item-body>
      Wong Shuen Leunge
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>Infos</nb-accordion-item-header>
    <nb-accordion-item-body>
     Termine
    </nb-accordion-item-body>
    <nb-accordion-item-body>
      Kosten
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>Archiev</nb-accordion-item-header>
    <nb-accordion-item-body>
      Bilder
    </nb-accordion-item-body>
    <nb-accordion-item-body>
      Videos
    </nb-accordion-item-body>
  </nb-accordion-item>

</nb-accordion>
