 <nb-card>
    <nb-card-header>
      <h2>Wong Shun Leung</h2>
    </nb-card-header>
    <nb-card-body>
      <br>
      <nb-card>
        <nb-card-body>
          Mit einem besonderen Talent praktizierte Wong Shun Leung in seiner Jugend viele Stilen der Kampfkünste, darunter auch das westliche Boxen und Kickboxen.
          <br>
          <br>
          Bis zu dem Tag, an dem er Yip Man kennenlernte, war er vollkommen vom Boxen als effektivstes Kampfmittel überzeugt.
          <br>
          <br>
          Erst Yip Man wusste ihn in die Schranken zu weisen...
          <br>
          <br>
          Wong Shun Leung brachte mit seinem Kampfwillen beste Voraussetzungen mit, um Ving Tsun nachhaltig zu prägen.
          <br>
          <br>
          Bis heute sind keine Kampfniederlagen, in den Beimo-Duellen bekannt. Beimo sind Vergleichskämpfe die auf den Dächern Hong Kong´s ausgetragen wurden um Stile zu vergleichen oder Persönlichkeiten aus dem Weg zu räumen.
          <br>
        </nb-card-body>
        <nb-card-footer>
          Wikipedia:
          <a href="https://en.wikipedia.org/wiki/Wong_Shun-leung" style="color:white" >Wong Shun Leung</a>
        </nb-card-footer>
      </nb-card>
      <nb-card>
        <nb-card-body style="display: flex ; flex-direction: row ">
          <div  style=" display: flex; margin:auto">
            <p style="text-align: center">
              <img  src="http://vt-kungfu.de/Bilder/wong_kick03.jpg" width="100%" alt="Wong Shun Leung" width="100%" alt="Yip Man" >
              <br>

              Yip Man, * 10. Oktober 1893  <br>
              in Foshan, China;
              <br>† 1. Dezember 1972 in Hongkong
            </p>
          </div>

          <div style=" display: flex; margin:20px; align-items:center">
            <p style="text-align: center">
              <a href="http://vt-kungfu.de/Bilder/interview_wsl.pdf">
                <img id="coms_bild" src="http://vt-kungfu.de/Bilder/wsl_interview_bild.jpg" width="100%" alt="Wong Shun Leung" title="Wong Shun Leung">
              </a>
              <br>
              Yip Man &amp; Bruce Lee

            </p>
          </div>

        </nb-card-body>
      </nb-card>

    </nb-card-body>
  </nb-card>
