<nb-card>
  <nb-card-header>
    <h2>Ving Tsun</h2>
  </nb-card-header>
  <nb-card-body>
    Kung Fu ist der Ausgleich zum Alltag und bringt die nötige Bewegung, die Sie brauchen um fit zu bleiben.
    <br>
    Ving Tsun Kung Fu ist ein alter chinesischer Kampfkunststil. Sich auf das Wesentliche zu konzentrieren ist eines der
    Gründe weshalb Ving Tsun effektiv ist.
    <br><br>
    <nb-card>
      <nb-card-header>
        <h5> Lebensphilosophie</h5>
      </nb-card-header>
      <nb-card-body>
        Die Konzentration auf das Wesentliche, das rechtzeitige reagieren und der kluge Umgang mit Kraft lässt sich auch
        auf das tägliche Leben anwenden. So kann Ving Tsun eine praktische Lebensphilosophie sein. Sich mit Kung Fu zu
        beschäftigen und gemeinsame Erlebnisse
        und Erfahrungen zu teilen, dass ist die Leidenschaft am Ving Tsun Kung Fu.
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>
      <H5>Gesundheit</H5>
      </nb-card-header>
      <nb-card-body>
        Ving Tsun Training fördert Gleichgewicht, Koordination, Beweglichkeit, Reaktionsfähigkeit, Kraft und Kondition.
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>
        <h5>Selbstverteidigung und Kampfkunst</h5>
      </nb-card-header>
      <nb-card-body>
        Ving Tsun möchte Menschen eine effektive Verteidigungsmöglichkeit geben. Mit Intelligenz, List und Schnelligkeit die eigene Gesundheit schützen.
        Nutzen Sie Ving Tsun um sich in einer extremen Situationen schnell und effektiv zu schützen.
        Unsere Schulen sind freie, unabhängige Schulen und wir verstehen es Ving Tsun im traditionellen Sinne nach Wong Shun Leung zu unterrichten.
        Vereinbaren sie ein Probetraining, oder kommen sie einfach vorbei.
      </nb-card-body>
      <nb-card-footer style="display: flex">
        <iframe style="margin: auto; justify-self: center" class="youtube-player" type="text/html" width="420" height="315" src="https://www.youtube.com/embed/GYm3hq1oD2w" frameborder="0">
        </iframe>
      </nb-card-footer>
    </nb-card>

  </nb-card-body>
</nb-card>
