.header {
  background-color: #000000;
  padding: 0 24px;
  height: 56px;

}

:host {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.header-nav {
  color: #fff;
  display: inline-block;
  line-height: 56px;
}

.left {
  float: left;
}

.right {
  float: right;
}

#buttonMenue {
  margin-left: auto;


}

#addTeacherButton {
  margin-right: 7px;
  margin-left: 7px;
}

#addStudent {
  margin-right: 7px;
}

#sidebareButton {
  margin-right: 7px;
}


.iconInHead {
  font-size: 2rem;
}
