<nb-card>
  <nb-card-header>
    <h2>Yip Man</h2>
  </nb-card-header>
  <nb-card-body>
    <nb-card>
      <nb-card-header>
        <h5> Yip Man Ving Tsun</h5>
      </nb-card-header>
      <nb-card-body>
        In unseren Schulen wird Ving Tsun aus der Yip Man-Familie gelehrt. Diesem Kung Fu Meister, der selbst nie
        Meister
        genannt werden wollte, ist der heutige Ving Tsun-Bekanntheitsgrad auf der ganzen Welt zuzuschreiben. Sein
        bekanntester
        Schüler ist der Filmstar Bruce Lee.
        <br>
        In den vielen Jahren harter Zusammenarbeit mit Lehrern und Trainingspartnern haben wir verschiedene System
        kennen lernen
        und trainieren dürfen. Heute orientieren wir uns ausschließlich an die Wong Shun Leung-Linie.
      </nb-card-body>
      <nb-card-footer>
        weitere Informationen:
        Wikipedia - http://de.wikipedia.org/wiki/Yip_Man
      </nb-card-footer>
    </nb-card>
    <nb-card>
      <nb-card-body style="display: flex ; flex-direction: row ">
        <div  style=" display: flex; margin:auto">
          <p style="text-align: center">
          <img  src="http://vt-kungfu.de/Bilder/yip_man.jpg" width="100%" alt="Yip Man" >
            <br>

            Yip Man, * 10. Oktober 1893  <br>
            in Foshan, China;
            <br>† 1. Dezember 1972 in Hongkong
          </p>
        </div>

        <div style=" display: flex; margin:20px; align-items:center">
          <p style="text-align: center">
          <img src="http://vt-kungfu.de/Bilder/brucelee.jpg" width="100%" alt="Bruce Lee">
            <br>
            Yip Man &amp; Bruce Lee

          </p>
        </div>

      </nb-card-body>
    </nb-card>

  </nb-card-body>
</nb-card>
